<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer class="footer">
        Powered by <a href="https://github.com/0xChen/lore-blog" target="_blank">Lore-Blog</a>
    </footer>
    <th:block th:replace="common/constant::constant"></th:block>
    <script src="//cdn.staticfile.org/jquery/3.3.1/jquery.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="//cdn.staticfile.org/blueimp-md5/2.10.0/js/md5.js"></script>
    <script src="//cdn.staticfile.org/mobile-detect/1.4.3/mobile-detect.min.js"></script>
    <script src="//cdn.staticfile.org/fastclick/1.0.6/fastclick.js"></script>
    <script src="//cdn.staticfile.org/wow/1.1.2/wow.js"></script>
    <script src="//cdn.staticfile.org/jQuery-slimScroll/1.3.8/jquery.slimscroll.js"></script>
    <script src="//cdn.staticfile.org/limonte-sweetalert2/7.28.2/sweetalert2.js"></script>
    <script src="//cdn.staticfile.org/axios/0.18.0/axios.js"></script>
    <script src="//cdn.staticfile.org/vue/2.5.17/vue.js"></script>
    <script src="//cdn.staticfile.org/moment.js/2.22.2/moment.js"></script>
    <script src="//cdn.staticfile.org/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="//cdn.staticfile.org/vue-select/2.5.1/vue-select.js"></script>

    <script src="/resources/admin/plugins/vue-loading/vue-loading.min.js"></script>
    <script src="/resources/admin/plugins/dashborad/jquery.app.js"></script>
    <script src="/resources/admin/js/base.js"></script>
    <script>
        Vue.config.devtools = true;
        Vue.config.productionTip = false
    </script>
</th:block>
</body>
</html>