<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='home'">
<!--/*@thymesVar id="#blog" type="com.developerchen.blog.theme.Common"*/-->
<head>
    <th:block th:replace="admin/header::header(${title})"></th:block>
    <script th:if="${#strings.equals(active, 'homei')}">
        /*[# th:if="${#strings.equals(title, 'files')}"]*/
        alert('Welcome admin');
        /*[/]*/
    </script>
</head>
<body class="fixed-left">
<div id="wrapper">
    <!-- sidebar -->
    <th:block th:replace="admin/sidebar::sidebar(${active},'')"></th:block>
    <!-- content -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!-- app -->
                <div id="app" class="row" v-cloak>
                    <loading :active.sync="isLoading" :can-cancel="true"></loading>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">仪表盘</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mini-stat clearfix bx-shadow bg-info">
                                            <a href="/admin/post" class="text-white">
                                                <span class="mini-stat-icon"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
                                            </a>
                                            <div class="mini-stat-info text-right">
                                                发表了<span class="counter" th:text="${statistics.posts}">0</span>篇文章
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mini-stat clearfix bg-purple bx-shadow">
                                            <a href="/admin/comment" class="text-white">
                                                <span class="mini-stat-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                            </a>
                                            <div class="mini-stat-info text-right">
                                                收到了<span class="counter" th:text="${statistics.comments}"></span>条留言
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mini-stat clearfix bg-success bx-shadow">
                                            <a href="/admin/files" class="text-white">
                                                <span class="mini-stat-icon"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
                                            </a>
                                            <div class="mini-stat-info text-right">
                                                上传了<span class="counter" th:text="${statistics.files}">0</span>个附件
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">最新文章</h4>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="list-group" th:each="post : ${postList}">
                                                    <li class="list-group-item">
                                                    <span class="badge badge-primary" th:text="${post.commentCount} + '条评论'"></span>
                                                        <a target="_blank" th:href="@{'/post/' + ${post.id}}" th:text="${post.title}"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">最新留言</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div th:if="${#lists.isEmpty(commentList)}" class="alert alert-warning">
                                                    还没有收到留言.
                                                </div>

                                                <div th:unless="${#lists.isEmpty(commentList)}" class="inbox-widget nicescroll mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
                                                    <div class="inbox-item" v-for="comment in commentPage.records">
                                                        <div class="inbox-item-img">
                                                            <a :href="comment.url" target="_blank">
                                                                <img :src="comment.email | gravatar" class="img-circle" :alt="comment.authorName">
                                                            </a>
                                                        </div>
                                                        <p class="inbox-item-author">
                                                            <a :href="comment.url" target="_blank">{{comment.authorName}}</a>
                                                        </p>
                                                        <p class="inbox-item-text">
                                                            <a :href="'/post/' + comment.ownerId + '#comments'" target="_blank">
                                                                {{comment.content}}
                                                            </a>
                                                        </p>
                                                        <p class="inbox-item-date">{{comment.createTime | formatDate}}</p>
                                                        <p class="pull-right">
                                                            <button v-if="comment.status == '0'" class="btn btn-sm btn-success" @click="approveComment(comment.id, '1')">通过</button>
                                                            <button class="btn btn-sm btn-danger" @click="deleteComment(comment.id)">删除</button>
                                                        </p>
                                                    </div>
                                                    <ul class="pager">
                                                        <li v-if="commentPage.hasPrev">
                                                            <a @click="getCommentPage(commentPage.prevPage)"> <i class="fa fa-angle-double-left"></i> 上一页</a>
                                                        </li>
                                                        <li v-if="commentPage.hasNext">
                                                            <a @click="getCommentPage(commentPage.nextPage)">下一页 <i class="fa fa-angle-double-right"></i> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 系统日志-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript">
    const blog = new $.Blog();
    const vm = new Vue({
        el: '#app',
        data: {
            commentPage:[],
            isLoading: true
        },
        beforeCreate: function () {
            vueLoding = this.$loading.show();
        },
        mounted: function () {
            this.getCommentPage(1);
        },
        methods: {
            getCommentPage: function (page, size = 3) {
                let $vm = this;
                blog.get({
                    url: '/admin/api/comments',
                    data: {page: page, size: size},
                    success: function (data) {
                        $vm.commentPage = data.data;
                    },
                    error: function (error) {
                        console.log(error);
                        alert(error || '数据加载失败');
                    }
                });
            },
            approveComment: function(commentId, status){
                let $vm = this;
                blog.put({
                    url : '/admin/api/comment/' + commentId + '/status/' + status,
                    success: function (result) {
                        if(result && result.success){
                            blog.alertOk('已通过');
                            $vm.getCommentPage($vm.commentPage.current);
                        } else {
                            blog.alertError(result.message || '评论设置失败');
                        }
                    }
                });
            },
            deleteComment: function (commentId) {
                let $vm = this;
                blog.alertConfirm({
                    title: '确定删除该评论吗?',
                    then: function () {
                        blog.delete({
                            url: '/admin/api/comment/' + commentId,
                            success: function (result) {
                                if (result && result.success) {
                                    blog.alertOk('评论删除成功');
                                    let page = $vm.commentPage.current;
                                    if ($vm.commentPage.records.length == 1 && $vm.commentPage.hasPrev) {
                                        page = $vm.commentPage.prevPage
                                    }
                                    $vm.getCommentPage(page);
                                } else {
                                    blog.alertError(result.message || '评论删除失败');
                                }
                            }
                        });
                    }
                });
            }
        }
    });

    $(function () {
        vm.isLoading = false;
        vueLoding.hide();
    });
</script>
</body>
</html>