<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:with="title='通用设置',active='theme/setting/common'">
<head>
    <th:block th:replace="admin/header::header(${title})"></th:block>
    <link href="//cdn.staticfile.org/bootstrap-toggle/2.2.2/css/bootstrap-toggle.css" rel="stylesheet">
    <style>
        #scheme {
            width: 23%;
            display: inline-block;
        }
        #hostname {
            width: 76%;
            display: inline-block;
        }
    </style>
</head>
<body class="fixed-left">
<div id="wrapper">
    <!-- sidebar -->
    <th:block th:replace="admin/sidebar::sidebar(${active},'themes')"></th:block>
    <!-- content -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!-- app -->
                <div id="app" class="row" v-cloak>
                    <loading :active.sync="isLoading" :can-cancel="true"></loading>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">系统设置</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-color panel-inverse">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">站点设置</h3>
                                            </div>
                                            <div class="panel-body">
                                                <form class="form-horizontal" role="form" id="global-form">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">网站地址</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control" id="scheme" v-model="options.scheme">
                                                                <option value="https">https://</option>
                                                                <option value="http">http://</option>
                                                            </select>
                                                            <input class="form-control" type="text" id="hostname" v-model="options.hostname"  placeholder="网站地址" required aria-required="true"/>
                                                            <span class="help-block"><small>请和你当前访问的域名保持一致，否则会出现渲染错误。</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">站点标题</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" v-model="options.blog_title" placeholder="站点子标题" required aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">站点子标题</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" v-model="options.blog_subtitle" placeholder="站点子标题" required aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">站点描述</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" v-model="options.blog_description" placeholder="站点描述" required aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">站点关键词</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" v-model="options.blog_keywords" placeholder="站点关键词" required aria-required="true"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">评论需要审核</label>
                                                        <div class="col-md-9">
                                                            <input type="checkbox" id="allowCommentAudit"
                                                                   v-model="options.allow_comment_audit"
                                                                   true-value="1"
                                                                   false-value="0">
                                                        </div>
                                                    </div>
                                                    <div class="clearfix pull-right">
                                                        <button type="button" class="btn btn-inverse waves-effect waves-light" @click="saveSetting">
                                                            保存设置
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script src="//cdn.staticfile.org/bootstrap-toggle/2.2.2/js/bootstrap-toggle.js"></script>
<script>
    var blog = new $.Blog();
    var vm = new Vue({
        el: '#app',
        data: {
            options: {},
            oldOptions: {},
            isLoading: true
        },
        beforeCreate: function(){
            vueLoding = this.$loading.show();
        },
        mounted: function () {
            this.load();
        },
        methods: {
            load: function () {
                var $vm = this;
                blog.get({
                    url: '/admin/api/options',
                    success: function (data) {
                        Object.assign($vm.oldOptions, data.data);
                        Object.keys(data.data).forEach(name => {
                            $vm.$set($vm.options, name, data.data[name])
                        });
                    },
                    error: function (error) {
                        console.log(error);
                        alert('数据加载失败');
                    }
                });
            },
            saveSetting: function () {
                var $vm = this;
                let modifyOptions = diffOptions($vm.options, $vm.oldOptions);
                if ($.isEmptyObject(modifyOptions)) {
                    blog.alertWarn("没有配置被发生过修改, 无需保存");
                    return;
                }
                blog.postWithForm({
                    url : '/admin/api/site/setting',
                    data: modifyOptions,
                    success: function (result) {
                        if(result && result.success){
                            blog.alertOk('设置保存成功');
                            $vm.load();
                        } else {
                            blog.alertError(result.message || '保存失败');
                        }
                    }
                });
            }
        }
    });

    /**
     * 比对配置项, 找出被修改过的配置项并返回
     *
     * @param {Object} newOption 发生过修改的配置项
     * @param {Object} oldOption 原始配置项
     * @return {Object} 被修改过的配置项
     *
     * @author syc
     */
    function diffOptions(newOption, oldOption) {
        let modifyOption = {};
        Object.keys(newOption).forEach(name => {
            var newValue = newOption[name];
            var oldValue = oldOption[name];
            if (newValue !== oldValue) {
                modifyOption[name] = newValue;
            }
        });
        return modifyOption;
    }

    $(function () {
        vm.isLoading = false;
        vueLoding.hide();
        $('#allowCommentAudit').bootstrapToggle({
            on: '开启',
            off: '关闭'
        });
        $('#allowCommentAudit').change(function() {
            var checked = $(this).prop('checked');
            if (checked) {
                vm.options.allow_comment_audit = '1';
            } else {
                vm.options.allow_comment_audit = '0';
            }
        });
    });
</script>
</body>
</html>