<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:with="title='侧边栏预览',active='home'">
<head>
    <th:block th:replace="admin/header::headerFragment(${title})"></th:block>
</head>
<body class="fixed-left">
<th:block th:fragment="sidebar(active, has_sub)">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center p-t-10" style="margin: 0 auto;">
                <div class="admin-title">
                    <span style="font-size: 28px; color: #2f353f; line-height: 50px;">Lore-Blog</span>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="pull-left">
                    <button type="button" class="button-menu-mobile open-left">
                        <i class="fa fa-bars"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown">
                        <a href="index.html" class="dropdown-toggle profile" data-toggle="dropdown"
                           aria-expanded="true"><img src="/resources/admin/images/unicorn.png" alt="user-img" class="img-circle"> </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="${#blog.blogUrl()}" href="" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> 查看网站</a></li>
                            <li><a href="/admin/profile"><i class="fa fa-sun-o"></i> 个人设置</a></li>
                            <li><a href="/admin/logout"><i class="fa fa-sign-out"></i> 注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li th:class="${#strings.equals(active, 'home')}? 'active'">
                        <a href="/admin/index" class="waves-effect" th:classappend="${#strings.equals(active, 'home')}? 'active'"><i class="fa fa-dashboard" aria-hidden="true"></i><span> 仪表盘 </span></a>
                    </li>
                    <li th:class="${#strings.equals(active, 'publish')}? 'active'">
                        <a href="/admin/post" class="waves-effect" th:classappend="${#strings.equals(active, 'publish')}? 'active'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span> 发布文章 </span></a>
                    </li>
                    <li th:class="${#strings.equals(active, 'posts')}? 'active'">
                        <a href="/admin/posts" class="waves-effect" th:classappend="${#strings.equals(active, 'posts')}? 'active'"><i class="fa fa-list" aria-hidden="true"></i><span> 文章管理 </span></a>
                    </li>
                    <li th:class="${#strings.equals(active, 'pages')}? 'active'">
                        <a href="/admin/pages" class="waves-effect" th:classappend="${#strings.equals(active, 'pages')}? 'active'"><i class="fa fa-file-text" aria-hidden="true"></i><span> 页面管理 </span></a>
                    </li>
                    <li th:class="${#strings.equals(active, 'files')}? 'active'">
                        <a href="/admin/files" class="waves-effect" th:classappend="${#strings.equals(active, 'files')}? 'active'"><i class="fa fa-cloud-upload" aria-hidden="true"></i><span> 文件管理 </span></a>
                    </li>
                    <li th:class="${#strings.equals(active, 'links')}? 'active'">
                        <a href="/admin/links" class="waves-effect" th:classappend="${#strings.equals(active, 'links')}? 'active'"><i class="fa fa-link" aria-hidden="true"></i><span> 友链管理 </span></a>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0)" class="waves-effect" th:classappend="${#strings.equals(has_sub, 'other')}? 'active subdrop'"><i class="fa fa-cubes"></i><span> 其他管理 </span><span class="pull-right"><i class="fa fa-plus"></i></span></a>
                        <ul class="list-unstyled">
                            <li th:class="${#strings.equals(active, 'comments')}? 'active'">
                                <a href="/admin/comments" class="waves-effect" th:classappend="${#strings.equals(active, 'comments')}? 'active'"><i class="fa fa-comments" aria-hidden="true"></i><span> 评论管理 </span></a>
                            </li>
                            <li th:class="${#strings.equals(active,'categories')}?'active'">
                                <a href="/admin/categories" class="waves-effect" th:classappend="${#strings.equals(active, 'categories')}? 'active'"><i class="fa fa-tags" aria-hidden="true"></i><span> 分类管理 </span></a>
                            </li>
                        </ul>
                    </li>
                    <li th:class="${#strings.equals(active, 'themes')}? 'active'">
                        <a href="/admin/themes" class="waves-effect" th:classappend="${#strings.equals(active, 'themes')}? 'active'"><i class="fa fa-diamond" aria-hidden="true"></i><span> 主题管理 </span></a>
                    </li>
                    <li th:class="${#strings.equals(active, 'setting')}? 'active'">
                        <a href="/admin/setting" class="waves-effect" th:classappend="${#strings.equals(active, 'setting')}? 'active'"><i class="fa fa-gear" aria-hidden="true"></i><span> 系统设置 </span></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</th:block>
<div th:replace="admin/footer :: footer"></div>
</body>
</html>