<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:with="title='编辑文章',active='posts'">
<!--/*@thymesVar id="#blog" type="com.developerchen.blog.theme.Common"*/-->
<head>
    <th:block th:replace="admin/header::header(${title})"></th:block>
    <link href="//cdn.staticfile.org/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="//cdn.staticfile.org/bootstrap-toggle/2.2.2/css/bootstrap-toggle.css" rel="stylesheet">
    <link href="//cdn.staticfile.org/dropzone/5.5.1/basic.css" rel="stylesheet">
    <link href="//cdn.staticfile.org/dropzone/5.5.1/dropzone.css" rel="stylesheet">
    <link href="//cdn.staticfile.org/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/resources/admin/plugins/mditor/css/mditor.min.css" rel="stylesheet">
    <link href="/resources/admin/plugins/summernote/0.8.10/summernote.css" rel="stylesheet">
    <style rel="stylesheet">
        .bootstrap-tagsinput {
            width: 100%;
        }
        .mditor .editor{
            font-size: 14px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        .mditor .backdrop, .mditor .textarea, .mditor .viewer{
            font-size: 14px;
        }
        .markdown-body{
            font-size: 14px;
        }
        .note-toolbar {
            text-align: center;
        }

        .note-editor.note-frame {
            border: none;
        }

        .note-editor .note-toolbar {
            background-color: #f5f5f5;
            padding-bottom: 10px;
        }

        .note-toolbar .note-btn-group {
            margin: 0;
        }

        .note-toolbar .note-btn {
            border: none;
        }

        #postForm #dropzone {
            min-height: 200px;
            background-color: #dbdde0;
            margin-bottom: 10px;
        }
        #postForm .dropzone {
            border: 1px dashed #8662c6;
            border-radius: 5px;
            background: white;
        }
        #postForm .dropzone .dz-message {
            font-weight: 400;
        }
        #postForm .dropzone .dz-message .note {
            font-size: 0.8em;
            font-weight: 200;
            display: block;
            margin-top: 1.4rem;
        }
    </style>
</head>
<body class="fixed-left">
<div id="wrapper">
    <!-- sidebar -->
    <th:block th:replace="admin/sidebar::sidebar(${active},'')"></th:block>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div id="app" class="row" v-cloak>
                    <loading :active.sync="isLoading" :can-cancel="true"></loading>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">编辑文章</h3>
                            </div>
                            <div class="panel-body">
                                <form id="postForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">文章标题</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" type="text" v-model="post.title" placeholder="请输入文章标题（必须）" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">文章名称</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" type="text" v-model="post.slug" placeholder="用于自定义访问路径" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">文章标签</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" id="tags" type="text"  v-model="post.tags" placeholder="多标签之间用 ',' 分割        ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">文章分类</label>
                                        <div class="col-sm-11">
                                            <select class="form-control" v-model="post.categoryId">
                                                <option  v-for="category in categories" :value="category.id" >{{category.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="form-group col-xs-12">
                                        <div class="pull-right">
                                            <a class="btn btn-purple btn-sm waves-effect waves-light switch-editor" @click="switchEditor">
                                                切换为富文本编辑器
                                            </a>
                                        </div>
                                    </div>

                                    <div id="md-container" v-show="post.contentType == 'markdown'" class="form-group col-md-12">
                                        <textarea id="md-editor"></textarea>
                                    </div>
                                    <div id="html-container" v-show="post.contentType == 'html'" class="form-group col-md-12">
                                        <div class="summernote"></div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-4">
                                        <label class="col-sm-4">开启评论</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" id="commentStatus"
                                                   v-model="post.commentStatus"
                                                   true-value="1"
                                                   false-value="0">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-4">
                                        <label class="col-sm-4">允许Ping</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" id="pingStatus"
                                                   v-model="post.pingStatus"
                                                   true-value="1"
                                                   false-value="0">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label class="col-sm-5">添加缩略图</label>
                                        <div class="col-sm-7">
                                            <input type="checkbox" id="addThumbnail"
                                                   v-model="post.thumbnail"
                                                   :true-value="post.thumbnail ? post.thumbnail : '1'"
                                                   false-value="0">
                                        </div>
                                    </div>

                                    <div id="dropzone-container" class="form-group col-md-12 hide">
                                        <div class="dropzone dropzone-previews" id="dropzone">
                                            <div class="dz-message">
                                                <p>可以为你的文章添加一张缩略图 ;)</p>
                                            </div>
                                        </div>
                                        <input type="hidden" name="thumbnail" id="thumbnail">
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="form-group col-md-6">
                                        <label class="col-sm-3 control-label">发布时间</label>
                                        <div class="col-sm-6 input-append date form_datetime">
                                            <input class="form-control" id="pubdate" v-model="post.pubdate" size="16" type="text" >
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="text-right">
                                            <a class="btn btn-default waves-effect waves-light" href="/admin/posts">返回列表</a>
                                            <button type="button" class="btn btn-primary waves-effect waves-light" @click="save('3')">
                                                发布文章
                                            </button>
                                            <button type="button" class="btn btn-warning waves-effect waves-light" @click="save('2')">
                                                存为草稿
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script src="//cdn.staticfile.org/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<script src="//cdn.staticfile.org/jquery.quicksearch/2.4.0/jquery.quicksearch.js"></script>
<script src="//cdn.staticfile.org/bootstrap-toggle/2.2.2/js/bootstrap-toggle.js"></script>
<script src="//cdn.staticfile.org/dropzone/5.5.1/dropzone.js"></script>
<script src="//cdn.staticfile.org/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="//cdn.staticfile.org/to-markdown/3.1.1/to-markdown.js"></script>
<script src="/resources/admin/plugins/summernote/0.8.10/summernote.min.js"></script>
<script src="/resources/admin/plugins/summernote/0.8.10/lang/summernote-zh-CN.min.js"></script>
<script src="/resources/admin/plugins/mditor/js/mditor.min.js"></script>
<script src="/resources/admin/js/post-edit.js" ></script>
</body>
</html>