*.js linguist-language=Java
* text=auto eol=lf

*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

*.java text
*.gradle text

*.js text
*.css text
*.html text

*.yml text
*.xml text
*.conf text
*.cnf text
*.properties text

*.txt text
*.md text

*.png -text
*.gif -text
*.jpg -text
*.jpeg -text
*.jar -text
