<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="#blog" type="com.developerchen.blog.theme.Common"*/-->
<!--/*@thymesVar id="#theme" type="com.developerchen.blog.theme.Theme"*/-->
<!--/*@thymesVar id="post" type="com.developerchen.blog.module.post.domain.entity.Post"*/-->
<head th:replace="themes/default/partial/header :: head(${post.title})"></head>
<body th:classappend="${#theme.is(#ctx, 'post')}? 'bg-grey'" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div th:replace="themes/default/partial/header :: browsehappy"></div>
<![endif]-->
<header th:replace="themes/default/partial/header :: header"></header>
<article class="main-content page-page">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a th:href="${#theme.permalink(post)}" th:text="${#theme.title(#ctx)}"></a>
        </h1>
        <div class="post-data">
            <time th:datetime="${#blog.dateFormat(post.pubdate)}" itemprop="pubdate" th:text="'发布于' + ${#blog.dateFormat(post.pubdate)}"></time>
        </div>
    </div>
    <div id="post-content" class="post-content" th:utext="${#theme.postContent(#ctx)}"></div>
</article>
<div th:replace="themes/default/partial/comments :: comment(${post})"></div>
<footer th:replace="themes/default/partial/footer :: footer"></footer>
</body>
</html>