<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:with="title='主题设置',active='themes'">
<head>
    <th:block th:replace="admin/header::header(${title})"></th:block>
</head>
<body class="fixed-left">
<div id="wrapper">
    <!-- sidebar -->
    <th:block th:replace="admin/sidebar::sidebar(${active},'themes')"></th:block>
    <!-- content -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!-- app -->
                <div id="app" class="row">
                    <loading :active.sync="isLoading" :can-cancel="true"></loading>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">主题设置</h3>
                            </div>
                            <div class="panel-body">
                                <form id="base-option" class="form-horizontal col-md-9" role="form">

                                    <div class="panel panel-color panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">基本设置</h3>
                                        </div>
                                        <div class="panel-body">

                                            <div class="form-group">
                                                <label class="col-md-2 control-label">主题LOGO</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="blog_logo_url"
                                                           th:value="${#blog.blogLogo()}"
                                                           placeholder="请输入主题LOGO链接, 不填则表示使用主题内默认LOGO"/>
                                                </div>
                                            </div>
                                            <div class="clearfix pull-right">
                                                <button type="button"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        onclick="saveThemeOptions('base-option')">
                                                    保存设置
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="custom-option" class="form-horizontal col-md-9" role="form">
                                    <div class="panel panel-color panel-inverse">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">个性化设置</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">微博账号</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="social_weibo"
                                                           th:value="${#blog.getBlogOption('social_weibo')}"
                                                           placeholder="微博账号，不输入则不显示">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Github账号</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="social_github"
                                                           th:value="${#blog.getBlogOption('social_github')}"
                                                           placeholder="Github账号，不输入则不显示">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Twitter账号</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="social_twitter"
                                                           th:value="${#blog.getBlogOption('social_twitter')}"
                                                           placeholder="Twitter账号，不输入则不显示">
                                                </div>
                                            </div>
                                            <div class="clearfix pull-right">
                                                <button type="button"
                                                        class="btn btn-inverse waves-effect waves-light"
                                                        onclick="saveThemeOptions('custom-option')">
                                                    保存设置
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script>

    var blog = new $.Blog();

    /**
     * 保存全局设置
     */
    function saveThemeOptions(formId) {
        var param = $('#' + formId).serialize();
        blog.post({
            url: '/admin/theme/setting',
            data: param,
            success: function (result) {
                if (result && result.success) {
                    blog.alertOk('设置保存成功');
                } else {
                    blog.alertError(result.message || '设置保存失败');
                }
            },
            error: function (error) {
                console.dir(error);
                blog.alertError('设置保存失败');
            }
        });
    }

</script>
</body>
</html>