<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="icon" href="/favicon.ico"/>
    <link href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.staticfile.org/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="//cdn.staticfile.org/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>出错啦</h1>
        <h2 class="font-light">服务器出了点差错, <br>已通知程序员抓紧修复</h2><br>
        <a class="btn btn-purple waves-effect waves-light" href="/"><i class="fa fa-angle-left"></i> 返回首页</a>
    </div>
</div>

</body>
</html>