<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:with="title='主题管理',active='themes'">
<head>
    <th:block th:replace="admin/header::header(${title})"></th:block>
</head>
<body class="fixed-left">
<div id="wrapper">
    <!-- sidebar -->
    <th:block th:replace="admin/sidebar::sidebar(${active},'themes')"></th:block>
    <!-- content -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!-- app -->
                <div id="app" class="row" v-cloak>
                    <loading :active.sync="isLoading" :can-cancel="true"></loading>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">主题管理</h3>
                            </div>
                            <div class="panel-body">
                                <div class="text-center m-t-10 pull-left" v-for="theme in themes">
                                    <img class="attach-img bx-shadow" :src="'/resources/themes/' + theme.name + '/screenshot.png'" width="300" height="200" :title="theme.name"/>
                                    <div class="clearfix m-t-10">
                                        主题：<span>{{theme.name}}</span> <mark v-if="theme.name == currentTheme">（当前主题）</mark>
                                    </div>
                                    <div class="clearfix m-t-10">
                                        <a v-if="theme.name == currentTheme && theme.hasSetting" class="btn btn-info" href="/admin/theme/setting"><span>主题设置</span></a>

                                        <button v-if="theme.name != currentTheme" @click="activeTheme(theme.name)" type="button" class="btn btn-danger btn-sm waves-effect waves-light m-t-5">
                                            <i class="fa fa-check-circle"></i> <span>启用该主题</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script th:inline="javascript">
    var blog = new $.Blog();
    var vm = new Vue({
        el: '#app',
        data: {
            currentTheme: [[${#blog.blogTheme()}]],
            themes: [],
            isLoading: true
        },
        beforeCreate: function(){
            vueLoding = this.$loading.show();
        },
        mounted: function () {
            this.load();
        },
        methods: {
            load: function(){
                var $vm = this;
                blog.get({
                    url: '/admin/api/themes',
                    success: function (result) {
                        $vm.themes = result.data
                    },
                    error: function (error) {
                        console.log(error);
                        alert(error || '数据加载失败');
                    }
                });
            },
            activeTheme: function (name) {
                var $vm = this;
                blog.alertConfirm({
                    title:'确定启用该主题吗?',
                    then: function () {
                        blog.post({
                            url : '/admin/api/themes/active',
                            data: {themeName: name},
                            success: function (result) {
                                if(result && result.success){
                                    blog.alertOk('主题启用成功');
                                    $vm.load();
                                } else {
                                    blog.alertError(result.message || '主题启用失败');
                                }
                            },
                            error: function (error) {
                                console.dir(error);
                                blog.alertError('主题启用失败');
                            }
                        });
                    }
                });
            }
        }
    });

    $(function () {
        vm.isLoading = false;
        vueLoding.hide();
    });
</script>
</body>
</html>